.Cart{
    display: flex;
    flex-direction: column;
    background: #f3f3f3;
    align-items: center;
    padding: 50px;
    div{
        margin-top: 100px;
        background: #ffffff;
        display: flex;
        flex-direction: column;
        align-items: center;
        h1{
            margin-bottom: 100px;
        }
    }
}