// color palette
@color-one: #FFEBD2;
@color-two: #FFA364;
@color-three: #FC7643;
@color-four: #AF4F41;
@color-five: #273248;
// color palette

// desktop navbar variables
@height-navbar: 70px;
@width-navbar: 100%;
@transition-color: 0.2s;
// desktop navbar variables

// desktop signup variables
@height-signup: 500px;
@width-signup: 350px;
// desktop signup variables

// desktop signup variables
@height-signin: 350px;
@width-signin: 350px;
// desktop signup variables